<!-- <html>
<head>
<style>
h1 {text-align: center;}
table, th, td{

border: 1px solid black;}

</style>
</head>
<body>

<hr>
<div>
<table id="employee" >
   <thead>
    
    <tr >
        <th>ID</th>
        <th>Name</th>
        <th>CompanyId</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let emp of employee">
        <td>
            <span>{{emp.employeeId}}</span>
        </td>
        <td>
            <span>{{emp.employeeName}}</span>
        </td>
        <td>
            <span>{{emp.companyId}}</span>
        </td>
    </tr>
</tbody>
         <th *ngFor="let col of index">
            {{col}}
        </th> -->
<!--         
</table>
</div> --> 
<!-- <div class="container"> -->
     <!-- <h1>Call a Function on click Event in Angular 10 - ItSolutionStuff.com</h1> -->
        

    <!-- <app-employee-list> -->
    <!-- <button (click)="press()" class="btn btn-success">Click Me</button>  -->
    <!-- </app-employee-list> -->
        
   
  <!-- </div> -->
 
  <nav class="navbar navbar-dark bg-primary">
    <h1>Employee TABLE</h1>
    </nav>
<app-get-comp></app-get-comp> 
<app-create-comp></app-create-comp>
 <app-update-comp></app-update-comp>
 <app-delete-comp></app-delete-comp> 
